@import url(https://bootswatch.com/4/cerulean/_variables.scss);
@import url(https://bootswatch.com/4/cerulean/_bootswatch.scss);
@import url(https://bootswatch.com/4/cerulean/bootstrap.min.css);


.card{
    width: 320px;
}

.jumbotron{
    display: inline;
    position: absolute;
    margin-left: 330px;
    background-color: rgba(163, 197, 219, 0.144)
}

.card{
    display: inline;
    position: absolute;
}

.card1{
    width: 320px;
    display: inline;
    position: absolute;
    margin-left: 1030px;
    border: 1px solid rgba(196, 194, 194, 0.815);
    border-radius: 2px
}

.c1{
    margin-top: 25px;
}

.combo{
    width: 50%;
    border-radius: 5px;
}

.btn-primary:hover{
    background-color: tomato;
}

.form-control{

    border-radius: 5px;
}


.X{
	width: 690px
}

